nav {
  text-align: center;
  color: rgb(45, 23, 143);
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

/* unvisited link */
a:link {
  color: rgb(45, 23, 143);
}

/* visited link */
a:visited {
  color: rgb(45, 23, 143);
}

/* mouse over link */
a:hover {
  color: rgb(80, 201, 248);
}

/* selected link */
a:active {
  color: rgb(45, 23, 143);
}

body {
  margin: 0;
  background: #9dd9fb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  background: none;
  font-family: "Courier New", Courier, monospace;
  padding: 0px 17px;
  height: 48px;
  border: 3px solid rgba(34, 10, 168, 0.2);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 60%;
  margin-top: 5px;
  border-radius: 10px;
  color: rgb(45, 23, 143);
  position: absolute;
  top: 70%;
  text-align: center;
}

#title {
  color: rgb(45, 23, 143);
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  text-align: center;
  position: absolute;
  top: 30%;
  margin-left: 40%;
  margin-right: 40%;
}

#discordlink {
  text-align: center;
  position: absolute;
  top: 60%;
  right: 20%;
}

#xlink {
  position: absolute;
  top: 57%;
  left: 50%;
}

/*BUTTON*/

/*
button{
    font-size: 35px;
    border: none;
}

#scroll{
    background-color: white;
    color: blue;
    position: absolute;
    top: 80%;
    left: 48%;
    text-align: center;
    border-radius: 50%;
    display:block;
    height: 50px;
    width: 50px;
}
*/
